/* Home.css */
.card img {
    height: 200px;
    object-fit: cover;
}

.dogBg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Removed width: 100% !important; */
}